<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1>Library:</h1>

        <div th:if="${div}">
            <p>Library is empty</p>
        </div>

        <div th:if="${not div}">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Age</th>
                </tr>
                <tr th:each="book: ${books}">
                    <td th:text="${book.ID}"></td>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.age}"></td>
                </tr>
            </table>
        </div>

        <a href="/book/addBook">Add book</a>
        <a href="/book/deleteBook">Delete book</a>
    </body>
</html>
